.minusplusnumber {
    border:1px solid silver;
    border-radius:5px;
    background-color: #FFF;
    margin:0 5px 0 5px;
    display:inline-block;
    user-select: none;
}
.minusplusnumber div {
    display:inline-block;
}
.minusplusnumber #field_container input {
    width:50px;
    text-align:center;
    font-size:15px;
    padding:3px;
    border:none;
}
.minusplusnumber .mpbtn {
    padding:3px 10px 3px 10px;
    cursor:pointer;
    border-radius:5px;
}
.minusplusnumber .mpbtn:hover {
    background-color:#DDD;
}
.minusplusnumber .mpbtn:active {
    background-color:#c5c5c5;
}
@media(max-width: 991px){
    .minusplusnumber #field_container input{
        width: 30px;
    }
    .minusplusnumber .mpbtn{
        padding: 3px 5px;
    }
}
@media(max-width: 660px){
    .minusplusnumber #field_container input{
        width: 80px;
    }
    .minusplusnumber .mpbtn{
        padding: 2px 12px;
    }
}
@media(max-width: 414px){
    .minusplusnumber #field_container input{
        width: 60px;
    }
    .minusplusnumber .mpbtn{
        padding: 2px 12px;
    }
}
